body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	text-transform: uppercase;
	background-color: #ffffff;
	
}
a{
	text-decoration: none;
}
.background-image {	
	background-image: url("../img/background-photo.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	height: 566px;
	margin-top: -56px;
}
.site-navigation {
	line-height: 26px;	
	list-style: none;
	background-color: #ffffff;
}
.site-navigation a {
	color: #000000;
	font-weight: bold;
}
.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}
.site-navigation a:active {
	color: rgba(0,0,0,0.3);
}
.feature-text b {
	font-size: 21px;
}
.feature-text {
	line-height: 26px;
	text-align: center;
}
.feature-item  {
	background-color: #81b3d2;
	color: #ffffff;	
}
li{
	list-style: none;
}
h3 {
	font-size: 21px;
}

.feature-text p,
.leisure-item p,
.list-point span,
.list-point p,
.search p {
	color: #333333;
}
.feature.list {
	background-color: #eeeeee;
}
.feature li,
.search {
	text-align: center;
}
.search .search-button{
	font-size: 21px;
	line-height: 26px;
	color: #ffffff;
	background-color: #766357;
	text-transform: uppercase;
}
.search .search-button:hover {
	background-color: #604e43;
}
.search .search-button:active {
	color: rgba(255,255,255,0.3);
	background-color: #503e33;
}
.search h2 {
	font-size: 30px;
	line-height: 24px;
}
.search p{
	line-height: 24px;
}

/*Форма index*/
.search-form input {
    outline:none;
	background-color: #f2f2f2;
}
.search-form input:hover {
    outline:none;
	background-color: #ebebeb;
}
.search-form input:focus {    
	background-color: #ffffff;
    outline: 2px solid #e5e5e5;
    
}
 
.search-form span {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: rgba(0,0,0,0.3);
}
.search-form span:hover {
	color: #000000;
}
.search-form span:active {
	color: #81b3d2;
}
.form-search-button {
	background-color: #81b3d2;
	color: #ffffff;
}
.form-search-button:hover {
	background-color: #669ec0;
}
.form-search-button:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3);
}

/*Страница hotels*/
.site-navigation .active {
	color: #766357;
}


/*Фильтры поиска отеля, форма*/
.filter-form {	
	color: #ffffff;
	background-color: #3e749e;
	background-image: url(../img/background-hotel.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}
.filter-form legend,
.filter-range label {
	font-size: 16px;
	font-weight: bold;	
}
.filter-range label {
	line-height: auto;
}
.filter-button {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}
.filter-button:hover {
	color: #000000;
	background-color: #ffffff;
}

/*Сортировка*/
.sort-result b,
.catalog-item h2,
.hashtag {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}
.sort-result {
	font-size: 12px;
	line-height: 18px;
}
.sort-result .active {
	color: #81b3d2;
}
.sort-result li a {
	color: rgba(0,0,0,0.3);
    padding: 0;
}
.catalog-item h2:hover {
	color: #81b3d2;
}
.catalog-item h2:active {
	color: rgba(0,0,0,0.3);
}
.catalog-type span,
.catalog-price span {
	color: #333333;
}
.catalog-item .rating {
	background-color: #f2f2f2;
	color: #666666;
}
.button.detail {
	color: #ffffff;
	background-color: #81b3d2;
	font-weight: bold;
}
.button.detail:hover {
	background-color: #669ec0;
}
.button.detail:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3);
}
.button.reservation {
	color: #ffffff;
	background-color: #766357;
	font-weight: bold;
}
.button.reservation:hover {
	background-color: #604e43;
}
.button.reservation:active {
	background-color: #503e33;
	color: rgba(255,255,255,0.3);
}

/*Сеточные стили*/

html,
body {
	 min-width: 1170px;
	 min-height: 933px; 
}
.container {
  width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
 }
.main-header-logo {
	width: 138px;
	height: 70px;
}    
.main-navigation {
	margin: 0 auto;
	width: 1170px;
}
.site-navigation {
	margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 72px;
	padding-right: 72px;
	background-color: #ffffff;
}

.feature-text {
	width: 500px;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 56px;
	margin-bottom: 56px;
}

.feature-item {
	margin: 0;
    padding: 0;
	display: flex;
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
}

.description.second {
	order: 2;
}
.description {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 45px;
	text-align: center;
}
.feature.leisure,
.feature.list {
	display: flex;
	justify-content: space-around;
	margin: 0;
    padding: 0;
}

.leisure-item,
.list-point {
	width: 285px;
}
.leisure-item {
	margin-top: 160px;
	margin-bottom: 85px;
}
.list-point {
	margin-top: 45px;
	margin-bottom: 60px;
}
.search.preview {
	margin: 0;
    padding: 0;
    width: 440px;
    margin-top: 55px;
    margin-right: auto;
    margin-left: auto;
}
.main-footer {
	margin: 0;
    padding-top: 35px;
    padding-bottom: 35px;    
}
.footer-hashtag {
	width: 140px;
	margin: 0;
	margin-right: 155px;
    margin-left: 130px;
    padding-top: 13px;    
}

.footer-social {
	width: 151px;
	margin: 0;
    padding: 0;
}
.footer-copyright {
	width: 198px;
	margin: 0;
	margin-left: auto;
    margin-right: 100px;
}
.main-footer .container {
    display: flex;
}

/*сетка отелей*/
.filter-form {
    display: flex;
    padding-left: 72px;
    padding-right: 72px;
}
.form-infrastructure {
    width: 140px;
    margin: 0;
    margin-right: 115px;
}
.form-housing {
    width: 140px;
    margin: 0;
}
.filter-range {
    width: 318px;
    margin: 0;
    margin-left: auto;
}
.sort-result {    
    display: flex;
    padding-right: 72px;
    margin-bottom: 33px;
}

.sort-result .found {    
    width: 117px;    
    margin: 0;
    margin-right: 48px;
}
.sort-result .sorting {
    width: 355px;
    margin: 0;
}
.sort-result .arrows {
    width: 34px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.catalog {
    margin: 0;
    padding: 0;   
}
.catalog-item {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 72px;
    padding-right: 72px;    
    margin-bottom: 31px;
    margin-top: 31px;
}

.catalog-item .item-img {
    width: 135px;    
    margin-right: 30px;
}
.catalog-item .item-detail {
    width: 258px;
    margin: 0;
}

.catalog-item .item-stars-rating {
    width: 111px;
    margin-left: auto;
    text-align: right;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header-logo {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
    right: 0;
}
.site-navigation li {
	width: 230px;
   display: block;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	text-align: right;
}
.leisure-item {
    position: relative;
}
.leisure-item .icon-1::before {
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;	
	background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -75px;
    left: 105px;
}

.leisure-item .icon-2::before {
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;	
	background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -75px;
    left: 105px;
}
.leisure-item .icon-3::before {
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;	
	background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -80px;
    left: 110px;
}
.search.preview h2 {
	padding: 0;
	margin: 0;
    padding-top: 55px;
    padding-bottom: 35px;    
}
.search.preview {
    margin-top: 0;
}
.search-info {
    margin: 0;
    margin-bottom: 50px;
}
.search-button {
    position: relative;
    margin-right: auto;
    margin-right: auto;
    width: 570px;
    padding: 32px 138px;    
    font-weight: bold;
    border: none;
}
.social-button {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social {
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}
.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}
.social-button:active {
    background-color: #5496bd;
}
.social-button:active path {
    fill: #88b6d1;
}

.search {
    position: relative;
}
.modal-search {
    position: absolute;
    left: 300px;
    top: 302px;
    margin-right: auto;
    margin-left: auto;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    background-color: #ffffff;
    width: 570px;
    padding-top: 55px;
    padding-bottom: 55px;  
}
.search-item input {
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 346px;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
    border: none;
}
.search-form p:nth-child(1) input,
.search-form p:nth-child(2) input {
    background-image: url(../img/calendar.svg);
    background-position: 315px center;
    background-repeat: no-repeat;
}
.search-form p:nth-child(3) input,
.search-form p:nth-child(4) input {
    padding: 0 36px;
    width: 115px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
}
.search-form p:nth-child(3),
.search-form p:nth-child(4) {


    width: 230px;
}
.search-form a {
    width: 460px;
    align-self: center;
    font-size: 21px;
    line-height: 26px;
    padding-bottom: 14px;
    padding-top: 14px;
}