body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	text-transform: uppercase;
	background-color: #ffffff;
	
}
a{
	text-decoration: none;
}
.background-image {	
	background-image: url("../img/background-photo.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	height: 511px;
	
}
.site-navigation {
	line-height: 26px;	
	list-style: none;
	background-color: #ffffff;
}
.site-navigation a {
	color: #000000;
	font-weight: bold;
}
.site-navigation a:hover,
.site-navigation a:focus {
	color: #81b3d2;
}
.site-navigation a:active {
	color: rgba(0,0,0,0.3);
}
.feature-text b {
	font-size: 21px;
}
.feature-text {
	line-height: 26px;
	text-align: center;
}
.feature-item  {
	background-color: #81b3d2;
	color: #ffffff;	
}
li{
	list-style: none;
}
h3 {
	font-size: 21px;
}

.feature-text p,
.leisure-item p,
.list-point span,
.list-point p,
.search p {
	color: #333333;
}
.feature.list {
	background-color: #eeeeee;
}
.feature li,
.search {
	text-align: center;
}
.search .search-button{
	font-size: 21px;	
	color: #ffffff;
	background-color: #766357;
	text-transform: uppercase;
    outline: none;
}
.search .search-button:hover {
	background-color: #604e43;
    outline: none;
}
.search .search-button:active {
	color: rgba(255,255,255,0.3);
	background-color: #503e33;
    outline: none;
}
.search h2 {
	font-size: 30px;
	line-height: 24px;
}
.search p{
	line-height: 24px;
}

/*Форма index*/
.search-form input {
    outline:none;
	background-color: #f2f2f2;
}
.search-form input:hover {
    outline:none;
	background-color: #ebebeb;
}
.search-form input:focus {    
	background-color: #ffffff;
    outline: 2px solid #e5e5e5;
    
}
 
.search-form span {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	color: rgba(0,0,0,0.3);
}
.search-form span:hover {
	color: #000000;
}
.search-form span:active {
	color: #81b3d2;
}
.form-search-button {
	background-color: #81b3d2;
	color: #ffffff;
}
.form-search-button:hover {
	background-color: #669ec0;
}
.form-search-button:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3);
}

/*Страница hotels*/
.site-navigation .active {
	color: #766357;
}


/*Фильтры поиска отеля, форма*/
.filter-form {	
	color: #ffffff;
	background-color: #3e749e;
	background-image: url(../img/background-hotel.jpg);
	background-position: top center;
	background-repeat: no-repeat;
}
.filter-form legend,
.filter-range label {
	font-size: 16px;
	font-weight: bold;	
}
.filter-range label {
	line-height: auto;
}
.filter-button {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}
.filter-button:hover {
	color: #000000;
	background-color: #ffffff;
}

/*Сортировка*/
.sort-result b,
.catalog-item h2,
.hashtag {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}
.sort-result {
	font-size: 12px;
}
.sort-result .active {
	color: #81b3d2;
}
.sort-result li a {
	color: rgba(0,0,0,0.3);
    padding: 0;
    border-bottom: 1px dotted #81b3d2;
}

.sort-result li a:hover {
	color: #81b3d2;
}
.sort-result-arrows path:hover {
	fill: #231f20;
}
.sort-result-arrows path:active {
	fill: #81b3d2;
}
.sort-result li a:active {
	color: #000000;
}
.catalog-item h2:hover {
	color: #81b3d2;
}
.catalog-item h2:active {
	color: rgba(0,0,0,0.3);
}
.catalog-type span,
.catalog-price span {
	color: #333333;
}
.catalog-item .rating {
	background-color: #f2f2f2;
	color: #666666;
	padding: 3px 14px;
	position: relative;
	top: 45px;

}
.button.detail {
	color: #ffffff;
	background-color: #81b3d2;
	font-weight: bold;
}
.button.detail:hover {
	background-color: #669ec0;
}
.button.detail:active {
	background-color: #5496bd;
	color: rgba(255,255,255,0.3);
}
.button.reservation {
	color: #ffffff;
	background-color: #766357;
	font-weight: bold;
}
.button.reservation:hover {
	background-color: #604e43;
}
.button.reservation:active {
	background-color: #503e33;
	color: rgba(255,255,255,0.3);
}

/*Сеточные стили*/

html,
body {
	 min-width: 1200px;
	 min-height: 933px;	 
	 background-color: #f2f2f2;
	 box-shadow: 50px 50px 50px 50px black; 
}
.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 20px 30px 3px #999999;
 }
.main-header-logo {
	width: 138px;
	height: 70px;
}    
.main-navigation {
	margin: 0 auto;
	width: 1200px;

}
.site-navigation {
	margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 72px;
	padding-right: 72px;
	background-color: #ffffff;
}
.site-navigation li:nth-child(2) {
    margin-right: 97px;
}


.feature-text {
	width: 500px;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 56px;
	margin-bottom: 58px;
}
.feature-text p {
    margin-top: 25px;
}

.feature-item {
	margin: 0;
    padding: 0;
	display: flex;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.description.second {
	order: 2;
}
.description {
	padding-left: 47px;
	padding-right: 47px;
	padding-top: 30px;
	text-align: center;
}
.description h2 {
    padding-bottom: 7px;
}
.description p {
    margin-top: 21px;
}
.feature.leisure,
.feature.list {
	display: flex;
	justify-content: space-around;
	margin: 0;
    padding: 0;
}

.leisure-item,
.list-point {
	width: 285px;
}
.leisure-item {
	margin-top: 140px;
	margin-bottom: 68px;
}
.leisure-item h3 {
    margin-bottom: 23px;

}
.list-point {
	margin-top: 26px;
	margin-bottom: 45px;
}
.list-point h3 {
    margin-bottom: 24px;
}
.list-point p {
    margin-top: 22px;
}
.search.preview {
	margin: 0;
    padding: 0;
    width: 440px;
    margin-top: 55px;
    margin-right: auto;
    margin-left: auto;
}
.main-footer {
	
    padding-top: 36px;
    padding-bottom: 42px;
    
    background-color: rgba(255,255,255,0.9);    
}
.footer-hashtag {
	width: 140px;
	margin: 0;
	margin-right: 142px;
    margin-left: 115px;
    padding-top: 10px;    
}

.footer-social {
	width: 151px;
	margin: 0;
    padding: 0;
}
.footer-copyright {
	width: 198px;
	margin: 0;
	margin-left: auto;
    margin-right: 114px;
}

.main-footer .container {
    display: flex;
}

/*сетка отелей*/
.filter-form {
    display: flex;
    padding-left: 60px;
    padding-right: 70px;
}
.form-infrastructure {
    width: 140px;
    margin: 0;
    margin-right: 95px;
}
.form-housing {
    width: 140px;
    margin: 0;
}
.filter-range {
    width: 318px;
    margin: 0;
    margin-left: auto;
}
.sort-result {    
    display: flex;
    padding-right: 72px;
    padding-left: 72px;
    padding-bottom: 30px;
    margin-top: 32px;
    border-bottom: 1px solid #e5e5e5;
}
.sort-result-arrows {
	margin-left: auto;
}
.arrows-up {
	margin-right: 10px;
}

.sort-result .found {    
    width: 117px;    
    margin: 0;
    margin-right: 48px;
}
.sort-result .sorting {
    width: 355px;
    margin: 0;
}
.sort-result .arrows {
    width: 34px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.catalog {
    margin: 0;
    padding: 0;   
}
.catalog-item {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 72px;
    padding-right: 72px;    
    padding-bottom: 28px;
    margin-top: 31px;
    border-bottom: 1px solid #e5e5e5;
}

.catalog-item .item-img {
    width: 135px;
    height: 90px;    
    margin-right: 30px;
}
.catalog-item .item-detail {
    width: 300px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.catalog-price a {
	display: inline-block;
	padding: 4px 17px;
}
.catalog-type span {
	display: inline-block;
	width: 113px;
}

.item-detail .name-hotel {
	margin: 0;
	line-height: 14px;
}


.catalog-item .item-stars-rating {
    width: 111px;
    margin-left: auto;
    text-align: right;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-header-logo {
	position: absolute;
	margin-right: auto;
	margin-left: auto;
	left: 0;
    right: 0;
}
.site-navigation li {
	width: 230px;
   display: block;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
	text-align: right;
}
.leisure-item {
    position: relative;
}
.leisure-item .icon-1::before {
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;	
	background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -80px;
    left: 105px;
}

.leisure-item .icon-2::before {
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;	
	background-image: url("../img/icon-2.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -80px;
    left: 105px;
}
.leisure-item .icon-3::before {
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;	
	background-image: url("../img/icon-3.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -85px;
    left: 110px;
}
.search.preview h2 {
	padding: 0;
	margin: 0;
    padding-top: 55px;
    padding-bottom: 31px;    
}
.search.preview {
    margin-top: 0;
}
.search-info {
    margin: 0;
    margin-bottom: 48px;
}
.search-button {
    position: relative;
    margin-right: auto;
    margin-right: auto;
    width: 569px;
    padding: 30px 138px;    
    font-weight: bold;
    border: none;
}
.social-button {
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social {
    display: flex;
    width: 150px;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}
.social-button:hover,
.social-button:focus {
    background-color: #669ec0;
}
.social-button:active {
    background-color: #5496bd;
}
.social-button:active path {
    fill: #88b6d1;
}

.search {
    position: relative;
}
.modal-search {
    position: absolute;
    left: 315px;
    top: 291px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    background-color: #ffffff;
    width: 460px;
    height: 300px;
    padding-top: 41px;
    padding-bottom: 55px;
    padding-left: 55px;
    padding-right: 55px;

}
.search-item:nth-child(1) {
	padding-bottom: 18px;
}
.search-item:nth-child(2) {
	padding-bottom: 3px;	
}
.search-item:nth-child(3) {	
	margin-right: 50px;
}

.search-item:nth-child(3) label {
	margin-right: 36px;
}
.search-item:nth-child(4) label {
	margin-right: 25px;
}
.search-item:nth-child(1) input,
.search-item:nth-child(2) input {
    font: inherit;
    color: #000000;
    text-transform: uppercase;
    box-sizing: border-box;
    width: 346px;
    padding-left: 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 30px;
    border: none;
    margin-left: 16px;
}
.search-item:nth-child(3) input,
.search-item:nth-child(4) input {
    padding: 0;
    width: 38px;
    height: 36px;
    text-align: center;
    border: none;
    font-weight: bold;
}

.search-item {
	position: relative;
}
.search-item svg {
	position: absolute;
	left: 428px;
	top: 6px;
}
.search-item svg path {
	fill: #cacaca;
}
.search-item svg:hover path {
	fill: #000000;
}
.search-item svg:active path {
	fill: #81b3d2;
}

}
.search-form:nth-child(3) input,
.search-form:nth-child(4) input {
    padding: 0;    
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.search-item:nth-child(3),
.search-item:nth-child(4) {
    width: auto;
    display: inline-block;
    text-align: left;
}

.search-item .amt {
	width: 38px;
	height: 36px;
	font: inherit;
    color: #a9a9a9;
    text-transform: uppercase;
    border: none;
    background-color: #f2f2f2;
    font-weight: bold;
}
.search-item .amt:hover {
	color: #000000;
}
.search-item .amt:active {
	color: #81b3d2;
}
.amt.minus {
	margin-right: -4px;
}
.amt.plus {
	margin-left: -4px;
}
.search-form .form-search-button {
    margin: 0;
    padding: 0;
    width: 460px;
    align-self: center;
    font-size: 21px;
    line-height: 26px;
    padding-bottom: 15px;
    padding-top: 16px;
    margin-top: 41px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
}
.search-form button:focus {
	outline: none;
}

.filter-form {
    padding-top: 27px;
    padding-bottom: 0;
}
fieldset {
    border: none;  
}
.form-infrastructure ul li:last-child,
.form-housing ul li:last-child {
	padding-bottom: 6px;
}
.filter-option {
    padding-top: 5px;
    padding-bottom: 21px;
    position: relative;
    cursor: pointer;
}

/*checkbox's*/
.filter-option input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  width: 18px;
  height: 18px;
  border: 2px solid #ffffff;
  left: -37px;
  border-radius: 3px;
}
.filter-option input[type="checkbox"]:checked + .checkbox-indicator::before {
  content: "";
  position: relative;  
  height: 18px;
  width: 7px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  transform: rotate(45deg);  
}


.price-controls {
    position: relative;
    height: 32px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-size: 0;
    margin-top: 9px;
}
.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}
.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 32px;
  font-weight: normal;
  vertical-align: top;
  cursor: pointer;
  padding-left: 60px;
}
.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 61px;
}
.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}
.range-controls {
	display: relative;

	margin-bottom: 32px;
}
.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}
.range-toggle {
  position: absolute;
  top: 162px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}
.range-toggle-max {
  left: 1134px;
}
.range-toggle:hover {
  border: 9px solid #ffffff;
}
.filter-button {
  display: block;
  margin: 0 82px;
  padding: 6px 35px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}


.sort-result .sorting {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    align-items: center;   
}

.search {
	position: relative;
}
.main-footer {
	position: absolute;
	bottom: 0;


}
.footer-copyright {
	display: flex;
	align-items: center;
}
.footer-copyright a {
	display: block;
}


.footer-button svg path:hover {
	fill: #81b3d2;
}
.footer-button svg path:active {
	fill: #bdbbbc;
}
.footer-copyright span {
	margin-right: 5px;
}
.main-footer .container {
	box-shadow: none;
	background-color: transparent;
}

.main-footer.hotels {
	position: static;
	background-color: #ffffff;
	padding-top: 39px;
}
.main-footer.hotels .footer-hashtag {
	margin-left: 132px;
}
.main-footer.hotels .footer-copyright {
	margin-right: 96px;
}
